@import "../../scss/variable.scss";

.dimmed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
    overscroll-behavior: none;
    touch-action: none;
    background-color: rgba(0, 0, 0, 0.8);
    // background: url("https://res.cloudinary.com/y0qp0xrk/image/upload/v1784080664/bg_Image.png") no-repeat top center;
    background-size: cover;
    z-index: $dimmed-zindex;
}