@import url("../../scss/font.scss");

.container {
  background: #edf2fc;
  padding: 11vh 24px 14vh;

  h2 {
    font-family: "Nixie One", system-ui;
    text-align: center;
    font-weight: 100;
    font-size: 35px;
    margin: 25px 0 80px;
    color: #333;
  }

  .wrap-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

    .txt-date {
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 12px;
    }

    .txt-time {
      font-size: 15px;
    }
  }
}

.wrap-calendar {
  display: flex;
  justify-content: center;
}

/* ========================= */
/* Countdown */
/* ========================= */

.wrap-countdown {
  margin-top: 50px;
}

.countdown-list {
  display: flex;
  gap: 14px;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.countdown-item {
  flex: 1;
  max-width: 110px;
  height: 95px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
  padding-bottom: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown-number {
  font-size: 32px;
  font-weight: 300;
  color: #222;
  line-height: 1;
  margin-bottom: 15px;
}

.countdown-label {
  font-size: 12px;
  letter-spacing: 1px;
  color: #c39b82;
}

.countdown-message {
  margin-top: 38px;
  text-align: center;
  font-size: 16px;
  color: #333;
  line-height: 1.7;

  strong {
    font-weight: 500;
  }

  em {
    font-style: normal;
    color: #7c8bd2;
    font-weight: 600;
  }
}

.heart {
  margin: 0 3px;
  color: #333;
}

.couple-name.ongoing{
  color: #7c8bd2;

  strong{
    font-weight: bold;
  }
  .heart {
    color: #7c8bd2;
  }
}

.now-wedding{
  font-weight: bold;
  color: #7c8bd2;
}