.container{
    padding: 13vh 24px 3vh;
    // background: #F8F8F8;

    .wrap-header{
        text-align: center;
        font-weight: 500;
        margin-bottom: 50px;

        .txt-title{
            margin-bottom: 20px;
        }
        .txt-subtitle{
            font-size: 14px;
            line-height: 20px;
            color: #333;
        }
    }

    .wrap-contact {
        padding: 20px;
        background: #fff;
        margin-top: 15px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px 0 #ccc;

        &:nth-of-type(1){
            margin-top: 0;
        }

        .wrap-contact-info {
            width: 100%;
            display: flex;
            line-height: 1.3;
            justify-content: space-between;
            align-items: center;
            
            .bankName{
                font-size: 13px;
            }

            .button{
                display: flex;
                justify-content: center;
                align-items: center;
                b{
                    font-weight: bold;
                }
                .ico-phone{
                    position: relative;
                    top: 2px;
                    width: 25px;
                    fill: #9faadd;
                    color: #abc1ff;
                }
                .bride {
                    color: #f7b5c8;
                    fill: #f7b5c8;
                }
            }
        }

        .wrap-buttons {
            margin: 15px 0 0;
            
            li{
                display: flex;
                justify-content: center;

                .button {
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    padding: 0 15px 0 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-weight: 400;
                    font-size: 14px;
                    color: #fff;
                    background: #aaa;
                    border: 1px solid #aaa;
                    border-radius: 4px;
                    box-sizing: border-box;
                    cursor: pointer;
                    svg{
                        width: 25px;
                    }
                }

                &.has_kakao{
                    justify-content: space-between;
                    .button {
                        width: 77%;
                    }
                    .kakao_button{
                        width: 20%;
                        color: #333;
                        border-color: #FCE777;
                        background: #FCE777;
                        font-size: 12px;
                        font-weight: bold;
                        padding: 0 2px 0 7px;
                        svg{
                            width: 23px;
                        }
                    }
                }
    
            }
        }
    }
}
    