@import "../../scss/utils.scss";

.container {
    @include txt-content;
    padding: 10vh 0;

    .wrap-persons { 
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        letter-spacing: 1.4px;
        font-weight: bold;
        margin: 70px 7px 15px;

        ul{
            width: 49%;
            box-sizing: border-box;

            li{
                position: relative;
                margin-bottom: 15px;

                &:nth-of-type(1){
                    img{
                        width: 100%;
                        border-radius: 2px;
                        object-fit: cover;
                        box-shadow: 1px 1px 5px 1px #ccc;
                    }
                }
  
                span{
                    s{
                        text-decoration: none;
                        font-size: 15px;
                        color: #abc4ff;
                    }
                }
                &.parents{
                    font-weight: 100;
                    font-size: 14px;
                    & span{
                        position: relative;
                        .ico-flower{
                            position: absolute;
                            top: -10px;
                            left: -15px;
                            width: 15px;
                        }
                    }
                }
            }
            &:nth-of-type(2){
                span{
                    s{
                        color: #eeb1c1;
                    }
                }
            }
        }

        .ico-heart {
            fill: var(--red);
            width: 16px;
            height: 16px;
            margin: 0 6px;
        }
    }

    .invitation {
        font-size: 18px;
        font-weight: bold;
        color: #6eb5ff;
        margin: 20px 0 25px;
    }

    .intro{
        color: #333;
    }

    .wrap-location {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        margin-bottom: 50px;
        color: #333;
    }

    .button-wrap{
        width: 100%;
        padding: 50px 20px;
        box-sizing: border-box;

        .contact-button {
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            width: 100%;
            height: 64px;
            // margin-top: 60px;
            padding: 0 24px;
    
            color: #fff;
            font-size: 17px;
            font-weight: 500;
    
            background-color: #abc4ff;
            border: 0;
            border-radius: 12px;
            box-sizing: border-box;
            cursor: pointer;
    
            -webkit-tap-highlight-color: transparent;
    
            .arrow {
                position: relative;
        
                display: block;
                width: 22px;
                height: 14px;
                top: -5px;
        
                border-bottom: 2px solid #fff;
        
                &::after {
                    position: absolute;
                    right: 0;
                    bottom: -1px;
        
                    width: 11px;
                    height: 11px;
        
                    border-right: 2px solid #fff;
                    border-bottom: 2px solid #fff;
        
                    content: '';
                    transform: rotate(-45deg);
                    transform-origin: right bottom;
                }
            }
        }
    }

}